@import url("https://fonts.cdnfonts.com/css/denistina");
header {
  background-color: rgba(91, 98, 91, 0.5);
  width: 100%;
  height: 54px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
header .header-menu {
  height: 30px;
}
header .header-menu .header-menu-section {
  background-color: rgba(91, 98, 91, 0);
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
}
header .header-menu .header-menu-section .menu {
  width: 315px;
  background-color: #5B625B;
  position: absolute;
  top: 42px;
  height: 0px;
  left: 0;
  display: grid;
  border-radius: 8px;
  padding: 28px 24px;
  grid-template-columns: 1fr;
  gap: 16px;
  visibility: hidden;
  transition: height 0.1s ease-out;
}
header .header-menu .header-menu-section .menu a {
  text-decoration: none;
}
header .header-menu .header-menu-section .menu .menu-close-button {
  width: 16px;
  height: 16px;
}
header .header-menu .header-menu-section .menu a {
  font-weight: 300;
  font-size: 22px;
  color: #c3c8c2;
}
header .header-menu .menu-button:hover {
  stroke: #5b625b;
  cursor: pointer;
}
header .buy-button {
  border-radius: 40px;
  border: 0px;
  padding: 10px 25px;
  width: 169px;
  height: 38px;
  background-color: #515f51;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
header .buy-button:active {
  background-color: #5b625b;
}
header .active-grid {
  display: grid !important;
  visibility: visible !important;
  height: 405px !important;
}
header .active-inline-block {
  display: inline-block !important;
}
header .hidden {
  display: none !important;
}

#main {
  background-color: #C3C8C2;
  padding: 80px 20px 100px;
  background-image: url(../../images/main/main-section/Modul/Cloud.svg), url(../../images/main/main-section/Modul/Mountain.svg);
  background-repeat: no-repeat;
  background-position: 20px 60px, 0px 560px;
}
#main .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#main .main-content .main-content-image {
  height: 348px;
}
#main .main-content .main-content-info .main-content-info-text {
  margin-bottom: 35px;
}
#main .main-content .main-content-info .main-content-info-text h2 {
  font-weight: 500;
  font-size: 43px;
  line-height: 125%;
  color: #3f483f;
  margin: 15px 0;
}
#main .main-content .main-content-info .main-content-info-text .www {
  font-weight: 400;
  font-size: 52px;
  line-height: 88%;
  color: #fff;
  font-family: "denistina", sans-serif;
  vertical-align: middle;
}
#main .main-content .main-content-info .main-content-info-text p {
  font-weight: 300;
  font-size: 16px;
  color: #515f51;
  margin: 0;
}
#main .main-content .main-content-info .main-content-info-button {
  display: flex;
  justify-content: center;
}
#main .main-content .main-content-info .main-content-info-button .buy-button {
  border-radius: 40px;
  border: 0px;
  padding: 15px 40px;
  width: 335px;
  height: 64px;
  background-color: #515f51;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
#main .main-content .main-content-info .main-content-info-button .buy-button:active {
  background-color: #5b625b;
}

#for-whom {
  background-color: #C3C8C2;
  padding-bottom: 100px;
  text-align: center;
}
#for-whom h2 {
  font-weight: 400;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3f483f;
  margin: 0;
}
#for-whom .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 20px;
  justify-content: center;
  margin-top: 16px;
}
#for-whom .cards .position {
  padding-top: 45px;
  position: relative;
}
#for-whom .cards .card {
  background-color: #515f51;
  border-radius: 10px;
  padding: 0 4px 12px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: end;
}
#for-whom .cards .card img {
  position: absolute;
  top: 0;
  left: 25%;
}
#for-whom .cards .card img.photo2 {
  left: 20%;
}
#for-whom .cards p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #c3c8c2;
}

#author {
  padding-bottom: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#author img:last-of-type {
  margin-top: auto;
}
#author .font-line {
  margin-bottom: 52px;
  margin-top: 0;
}
#author h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 45px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3f483f;
}
#author .author-image {
  margin-bottom: 60px;
}
#author .author-content {
  padding: 0 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 45px;
  margin-bottom: 40px;
}
#author .author-content .author-content-item {
  display: flex;
  gap: 20px;
  text-align: start;
}
#author .author-content .author-content-item .author-content-item-text {
  margin: auto;
}
#author .author-content .author-content-item p {
  font-weight: 300;
  font-size: 15px;
  color: #515f51;
  margin: 0;
}

#program {
  background-color: #515f51;
  padding: 10px 20px 0;
  text-align: center;
}
#program h2 {
  font-weight: 400;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #d9d9d9;
  margin: 0;
  margin-bottom: 40px;
}
#program .program-cards .program-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
#program .program-cards .program-card .card-number {
  border-radius: 8px;
  padding: 8px 28px;
  min-width: 120px;
  height: 28px;
  background: #3f483f;
  position: relative;
  top: 14px;
}
#program .program-cards .program-card .card-number p {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin: 0;
}
#program .program-cards .program-card .card-content .card-content-hero {
  background-color: #515f51;
  width: 335px;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition-delay: 0.5s;
}
#program .program-cards .program-card .card-content .card-content-hero .content-hero-image {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#program .program-cards .program-card .card-content .card-content-hero .content-hero-image .content-hero-text {
  border-radius: 8px;
  padding: 12px 20px;
  width: 281px;
  background: #c3c8c2;
}
#program .program-cards .program-card .card-content .card-content-hero .content-hero-image .content-hero-text p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #3f483f;
  margin: 0;
}
#program .program-cards .program-card .card-content .card-content-hero .image-1 {
  background-image: url(../../images/main/program/card-1.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-2 {
  background-image: url(../../images/main/program/card-2.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-3 {
  background-image: url(../../images/main/program/card-3.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-4 {
  background-image: url(../../images/main/program/card-4.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-5 {
  background-image: url(../../images/main/program/card-5.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-6 {
  background-image: url(../../images/main/program/card-6.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-7 {
  background-image: url(../../images/main/program/card-7.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-8 {
  background-image: url(../../images/main/program/card-8.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-9 {
  background-image: url(../../images/main/program/card-9.png);
}
#program .program-cards .program-card .card-content .card-content-hero .image-10 {
  background-image: url(../../images/main/program/card-10.png);
}
#program .program-cards .program-card .card-content .card-content-hero.active {
  transition-delay: 0s;
  background: #c3c8c2;
}
#program .program-cards .program-card .card-content .card-content-second {
  display: block;
  background: #c3c8c2;
  width: 335px;
  max-height: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
#program .program-cards .program-card .card-content .card-content-second ol {
  list-style: none;
  counter-reset: custom-counter;
  margin: 0;
  padding: 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 16px;
}
#program .program-cards .program-card .card-content .card-content-second ol li {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  color: #515f51;
}
#program .program-cards .program-card .card-content .card-content-second ol li::before {
  display: none;
}
#program .program-cards .program-card .card-content .card-content-second.active {
  max-height: 1000px;
}
#program .program-cards .program-card .card-open-button {
  position: relative;
  bottom: 13px;
  transition: 0.5s;
  height: 26px;
}
#program .program-cards .program-card .card-open-button.active {
  rotate: 180deg;
  transition: 0.5s;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #C3C8C2;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.font-line {
  font-weight: 400;
  font-size: 22px;
  line-height: 302%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #3f483f;
  font-family: "denistina", sans-serif;
}

/*# sourceMappingURL=style.css.map */
