@import url("https://fonts.cdnfonts.com/css/denistina");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #C3C8C2;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: rgba(91, 98, 91, 0.5);
  width: 100%;
  height: 54px;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
header .header-menu {
  height: 30px;
}
header .header-menu .header-menu-section {
  background-color: rgba(91, 98, 91, 0);
  border: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  position: relative;
}
header .header-menu .header-menu-section .menu {
  width: 315px;
  height: 405px;
  background-color: #5B625B;
  position: absolute;
  top: 42px;
  left: 0;
  border-radius: 8px;
  padding: 28px 24px;
  grid-template-columns: 1fr;
  gap: 16px;
  display: none;
}
header .header-menu .header-menu-section .menu a {
  text-decoration: none;
}
header .header-menu .header-menu-section .menu .menu-close-button {
  width: 16px;
  height: 16px;
}
header .header-menu .header-menu-section .menu a {
  font-weight: 300;
  font-size: 22px;
  color: #c3c8c2;
}
header .header-menu .menu-button:hover {
  stroke: #5b625b;
  cursor: pointer;
}
header .buy-button {
  border-radius: 40px;
  border: 0px;
  padding: 10px 25px;
  width: 169px;
  height: 38px;
  background-color: #515f51;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
header .buy-button:active {
  background-color: #5b625b;
}
header .active-grid {
  display: grid !important;
}
header .active-inline-block {
  display: inline-block !important;
}
header .hidden {
  display: none !important;
}

#main {
  background-color: #C3C8C2;
  padding: 80px 20px 100px;
  background-image: url(../../images/main/main-section/Modul/Cloud.svg), url(../../images/main/main-section/Modul/Mountain.svg);
  background-repeat: no-repeat;
  background-position: 20px 60px, 0px 560px;
}
#main .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#main .main-content .main-content-image {
  height: 348px;
}
#main .main-content .main-content-info .main-content-info-text {
  margin-bottom: 35px;
}
#main .main-content .main-content-info .main-content-info-text h2 {
  font-weight: 500;
  font-size: 43px;
  line-height: 125%;
  color: #3f483f;
  margin: 15px 0;
}
#main .main-content .main-content-info .main-content-info-text .www {
  font-weight: 400;
  font-size: 52px;
  line-height: 88%;
  color: #fff;
  font-family: "denistina", sans-serif;
  vertical-align: middle;
}
#main .main-content .main-content-info .main-content-info-text p {
  font-weight: 300;
  font-size: 16px;
  color: #515f51;
  margin: 0;
}
#main .main-content .main-content-info .main-content-info-button {
  display: flex;
  justify-content: center;
}
#main .main-content .main-content-info .main-content-info-button .buy-button {
  border-radius: 40px;
  border: 0px;
  padding: 15px 40px;
  width: 335px;
  height: 64px;
  background-color: #515f51;
  font-weight: 500;
  font-size: 25px;
  color: #fff;
}
#main .main-content .main-content-info .main-content-info-button .buy-button:active {
  background-color: #5b625b;
}

#for-whom {
  text-align: center;
}
#for-whom h2 {
  font-weight: 400;
  font-size: 36px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3f483f;
  margin: 0;
}
#for-whom span {
  font-weight: 400;
  font-size: 22px;
  line-height: 302%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #3f483f;
  font-family: "denistina", sans-serif;
}
#for-whom .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 20px;
  justify-content: center;
}
#for-whom .cards .card {
  background-color: #515f51;
  border-radius: 10px;
  padding: 0 4px 12px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: end;
}
#for-whom .cards p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #c3c8c2;
}

/*# sourceMappingURL=style.css.map */
