#program {
    background-color: #515f51;
    padding: 10px 20px 22px;
    text-align: center;

    h2 {
        margin: 0;
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 36px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: #d9d9d9;
    }

    .program-cards {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        .program-card:last-child .card-content-second {
                margin-bottom: 0 !important;
            }

        .program-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 335px;

            .card-number {
                position: absolute;
                z-index: 2;
                top: -15px;
                border-radius: 8px;
                padding: 8px 28px;
                background-color: #3f483f;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #fff;
                    margin: 0;
                }
            }

            .card-content {
                position: relative;

                .card-content-hero {
                    padding: 30px;
                    background-image: url(../../images/main/program/card-1.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 20px;
                    width: 335px;
                    position: relative;
                    z-index: 1;

                    .content-hero-text {
                        border-radius: 8px;
                        padding: 12px 20px;
                        background-color: #c3c8c2;

                        p {
                            font-weight: 300;
                            font-size: 16px;
                            text-align: center;
                            color: #3f483f;
                            margin: 0;
                        }
                    }
                }

                .card-content-second {
                    display: block;
                    position: relative;
                    max-height: 0;
                    bottom: 30px;
                    border-radius: 16px;
                    padding: 0 20px 16px;
                    
                    background-color: #c3c8c2;
                    overflow: hidden;
                    transition: max-height 0.5s ease-out;

                    ol {
                        list-style: none;
                        counter-reset: custom-counter;
                        margin: 0;
                        padding: 0;
                        text-align: start;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 15px;
                        padding-top: 50px;

                        li {
                            position: relative;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 112%;
                            color: #515f51;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                .card-content-second.active {
                    max-height: 700px;
                }

                .card-open-button {
                    position: absolute;
                    top: 83px;
                    left: 46%;
                    z-index: 3;
                    transition: bottom 0.5s ease;
                    transform: rotate(180deg)
                }

                .card-open-button.active {
                    transform: rotate(0deg);
                    top: 667px;
                }
            }
        }
    }
}