#program {
    background-color: #515f51;
    padding: 10px 20px 0;
    text-align: center;

    h2 {
        font-weight: 400;
        font-size: 36px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: #d9d9d9;
        margin: 0;
        margin-bottom: 40px;
    }

    .program-cards {

        .program-card {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;

            .card-number {
                border-radius: 8px;
                padding: 8px 28px;
                min-width: 120px;
                height: 28px;
                background: #3f483f;
                position: relative;
                top: 14px;

                p {
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #fff;
                    margin: 0;
                }
            }

            .card-content {

                .card-content-hero {
                    background-color: #515f51;
                    width: 335px;
                    height: 100px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    transition-delay: 0.5s;

                    .content-hero-image {
                        background-position: center center;
                        background-repeat: no-repeat;
                        height: 100%;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .content-hero-text {
                            border-radius: 8px;
                            padding: 12px 20px;
                            width: 281px;
                            background: #c3c8c2;

                            p {
                                font-weight: 300;
                                font-size: 16px;
                                text-align: center;
                                color: #3f483f;
                                margin: 0;
                            }
                        }
                    }

                    .image-1 {
                        background-image: url(../../images/main/program/card-1.png);
                    }

                    .image-2 {
                        background-image: url(../../images/main/program/card-2.png);
                    }

                    .image-3 {
                        background-image: url(../../images/main/program/card-3.png);
                    }

                    .image-4 {
                        background-image: url(../../images/main/program/card-4.png);
                    }

                    .image-5 {
                        background-image: url(../../images/main/program/card-5.png);
                    }

                    .image-6 {
                        background-image: url(../../images/main/program/card-6.png);
                    }

                    .image-7 {
                        background-image: url(../../images/main/program/card-7.png);
                    }

                    .image-8 {
                        background-image: url(../../images/main/program/card-8.png);
                    }

                    .image-9 {
                        background-image: url(../../images/main/program/card-9.png);
                    }

                    .image-10 {
                        background-image: url(../../images/main/program/card-10.png);
                    }
                }

                .card-content-hero.active {
                    transition-delay: 0s;
                    background: #c3c8c2;
                }

                .card-content-second {
                    display: block;
                    background: #c3c8c2;
                    width: 335px;
                    max-height: 0;
                    border-bottom-left-radius: 16px;
                    border-bottom-right-radius: 16px;
                    overflow: hidden;
                    transition: max-height 0.5s ease-out;

                    ol {
                        list-style: none;
                        counter-reset: custom-counter;
                        margin: 0;
                        padding: 0;
                        text-align: start;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 15px;
                        padding: 20px 16px;

                        li {
                            position: relative;
                            font-weight: 300;
                            font-size: 16px;
                            line-height: 112%;
                            color: #515f51;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }

                .card-content-second.active {
                    max-height: 1000px;                    
                }
            }

            .card-open-button {
                position: relative;
                bottom: 13px;
                transition: 0.5s;
                height: 26px;
            }

            .card-open-button.active {
                rotate: 180deg;
                transition: 0.5s;
            }
        }
    }
}