@use './header';
@use './main';
@use './from-whom';
@use './author';
@import url('https://fonts.cdnfonts.com/css/denistina');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
background-color: #C3C8C2;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
}

.font-line {
    font-weight: 400;
    font-size: 22px;
    line-height: 302%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #3f483f;
    font-family: 'denistina', sans-serif;
}