@import url('https://fonts.cdnfonts.com/css/denistina');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #C3C8C2;
}

header {
    background-color: rgba(91, 98, 91, 0.5);
    width: 100%;
    height: 54px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    .header-menu {
        height: 30px;
        .header-menu-section {
            background-color: rgba(91, 98, 91, 0);
            border: 0;
            width: 30px;
            height: 30px;
            padding: 0;
            position: relative;

            .menu {
                width: 315px;
                height: 405px;
                background-color: #5B625B;
                position: absolute;
                top: 42px;
                left: 0;
                border-radius: 8px;
                padding: 28px 24px;
                grid-template-columns: 1fr;
                gap: 16px;
                display: none;
                
                a {
                    text-decoration: none;
                }
                

                .menu-close-button {
                    width: 16px;
                    height: 16px;
                }

                a {
                    font-weight: 300;
                    font-size: 22px;
                    color: #c3c8c2;
                }
            }
        }

        .menu-button:hover {
            stroke: #5b625b;
            cursor: pointer;
        }
    }

    .buy-button {
            border-radius: 40px;
            border: 0px;
            padding: 10px 25px;
            width: 169px;
            height: 38px;
            background-color: #515f51;
            font-weight: 500;
            font-size: 16px;
            color: #fff;
    }

    .buy-button:active {
        background-color: #5b625b;
    }

    .active-grid {
        display: grid !important;
    }

    .active-inline-block {
        display: inline-block !important;
    }

    .hidden {
        display: none !important;
    }
}

#main {
    background-color: #C3C8C2;
    padding: 80px 20px 100px;
    background-image: url(../../images/main/main-section/Modul/Cloud.svg),url(../../images/main/main-section/Modul/Mountain.svg);
    background-repeat: no-repeat;
    background-position: 20px 60px, 0px 560px;

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .main-content-image {
            height: 348px;
        }

        .main-content-info {
            .main-content-info-text {
                margin-bottom: 35px;

                h2 {
                    font-weight: 500;
                    font-size: 43px;
                    line-height: 125%;
                    color: #3f483f;
                    margin: 15px 0;
                }

                .www {
                    font-weight: 400;
                    font-size: 52px;
                    line-height: 88%;
                    color: #fff;
                    font-family: 'denistina',sans-serif;
                    vertical-align: middle;
                }

                p {
                    font-weight: 300;
                    font-size: 16px;
                    color: #515f51;
                    margin: 0;
                }
            }

            .main-content-info-button {
                .buy-button {
                        border-radius: 40px;
                        border: 0px;
                        padding: 15px 40px;
                        width: 335px;
                        height: 64px;
                        background-color: #515f51;
                        font-weight: 500;
                        font-size: 25px;
                        color: #fff;
                    }
                
                .buy-button:active {
                    background-color: #5b625b;
                }
            }
        }
    }
}

  