@use './header';
@use './main';
@use './from-whom';
@import url('https://fonts.cdnfonts.com/css/denistina');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
}

  